*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
span{
    color: #FF42A5;
}
/* nav style starts from here */
nav{
    background-color: white;
}
.nav-container{
    display: flex;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 30px 0px;
}
.nav-logo{
    display: flex;
    width: 50%;
}
.nav-logo p{
    margin-left: 15px;
    font-size: 40px;
}
.nav-items{
   
   width: 50%;
   display: flex;
   justify-content: space-around;
}
.nav-items a{
    text-decoration: none;
    font-size: 20px;
}
.span-text{
    color: #FF42A5;
}
.nav-btn{
    padding: 15px 20px;
    border-radius: 10px;
    border: 0px;
}
/* nav style ends here */

.banner-section{
    background-image: url("images/Group 14.png");
    padding: 70px;
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#lion{
    font-size: 100px;
    color: #FF42A5;
}
.banner-content{
    padding-left: 50px;
}
.banner-content h3{
    font-size: 50px;
}
.banner-content p{
    padding-left: 20px;
    font-size: 30px;
    color: #534C64;
}
/* banner section style ends here */
 .card-section{
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
 }
 .onlineGaming-section{
    margin: 50px 0px;
    text-align: center;    
 }
 .onlineGaming-section h2{
    font-size: 50px;
 }
 .onlineGaming-section p{
    font-size: 30px;
    margin-bottom: 20px;
 }
 
 /* online Gaming section ends here */
 .play-instant-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 80px auto;
 }
 .img2{
    position: relative;
    margin-top: -250px;
    margin-left: -90px;
 }
 .instant-content{
    
    width: 80%;
 }
 .instant-content h2{
    text-align: left;
    font-size: 70px;
    margin-bottom: 30px;
 }
 .instant-content p{
    text-align: left;
    font-size: 28px;
 }
 /* button section starts from here */
 .group-btn{
    gap: 20px;
    display: flex;
    align-items: center;
    border: 0px;
    border-radius: 40px;
    padding: 7px 20px;
    background-color: white;
 }
 .button-section{
    
    width: 50%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin: 20px auto;
 }
 .btn-section{
    background-color:rgba(255, 66, 165, 0.03);
    padding: 70px 0px;
 }
 /* button section ends here */
 footer{
    background-color:  #0B0223;
    color: white;
    align-items: center;
    text-align: center;
    padding: 50px;
 }
 .footer-icon{
    width: 30%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
 }
 .our-other-section,  .termandCondition{
    width: 60%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    color: #878097;
 }



 /* hover section starts here */

 .group-btn:hover{
    color: #FF42A5;
    border: 1px solid #FF42A5;
 }

 

 /* responsive section starts here */

 @media  screen and(max-width:576px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-items{
        flex-direction: column;
    }
 }