body{
    max-width: 80%;
    margin: 0px auto;
}
.nav{
    justify-content: space-between;
    display: flex;
}
.nav-menu{
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    
}
.nav-btn{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgba(11, 2, 35, 0.10);
    border: 0px;
    padding: 0px 20px;
    
}
.nav-logo{
    display: flex;
    align-items: center;
    
}
#logo-font{
    font-size: 50px;
}
#span-text{
    color: #FF42A5;
}

span{
    color: #FF42A5;
}

.banner{
    display: flex;
    border-radius: 5px;
    margin: 0px auto;
    justify-content: space-around;
    align-items: center;
    padding-left: 150px;
    background-color:   rgb(232, 241, 238);
}
.banner h3{
    font-size: 50px;
    color: #0B0223;
    font-weight: 600px;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.banner h1{
    font-size: 100px;
    font-weight: 800;
    color: #FF42A5;
    margin-left: 0px;
}
.banner li{
    color: #534C64;
    font-size: 38px;
    margin: 0px;
}
.banner-btn-1{
    padding: 20px 40px;
    border-radius: 30px;
    color: white;
    background-color: #FF42A5;
    border: 0px;
   
}
.banner-btn-2{
    padding: 20px 40px;
    border-radius: 30px;
    color: white;
    background-color: #4EC5F7;;
    border: 0px;
}
.banner-img{
    display: flex;
    margin: 30px auto;
    
}
.game-card{
    
}
.onlineGames h3{
        font-size: 3em;
        text-align: center;
}
.onlineGames P{
    text-align: center;
    font-size: 2em;
}


@media screen and (max-width:576px) {
    .nav{
        flex-direction: column;
        align-items: center;
    }
    .nav-menu{
        flex-direction: column;
        gap: 20px;
    }
    .banner{
        flex-direction: column-reverse;
        background-color: white;        
    }
    .banner-img{

        width: 120%;
        flex-direction: column;
    }
    .banner{
       
        padding:20px;
    }
    
}